import React, { useState, useEffect } from 'react';
import { {{camel model.name}}Service } from '@/_services';

function List{{model.name}}() {
    return (
        <div>
            <h1>{{plural model.name}}</h1>q 
        </div>
    );
}

export { List{{model.name}} };